@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea,
button {
  outline: none;
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
img {
  display: block;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", "Roboto" sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 1;
  box-sizing: border-box;
}
/* 헤더 */
header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
  padding: 0 10.3125rem;
  background-color: #fff;
}
.con {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  width: 100px;
}
nav {
  width: 800px;
  min-width: 500px;
}
nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}
.searchAll {
  width: 300px;
  box-sizing: border-box;
  padding: 4px 16px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  transition: border 0.3s;
}
.searchAll > .searchBtn {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.searchBtn > img {
  max-width: 100%;
}
.searchAll > input {
  border: none;
  width: 100%;
}
.searchAll:hover {
  border: 1px solid #3d5ce9;
}
.searchAll:hover .searchBtn {
  opacity: 1;
}
/* 메인비주얼 */
.mainVisual {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  padding: 0 10.3125rem;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visualImg {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.visualImg > img {
  max-width: 100%;
}
.mainTxt {
  width: fit-content;
  font-family: "Noto Sans KR", sans-serif;
}
.mainTxt > h3 {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 32px;
}
.mainTxt > h3 + div {
  line-height: 1.4;
  font-size: 18px;
  color: #333;
  margin-bottom: 40px;
}
.mainTxt .main_vBtn {
  border: none;
  background-color: #fff;
  width: 300px;
  height: 45px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  color: #111;
  border: 1px solid #111;
  transition: all 0.3s;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}
.mainTxt .main_vBtn:hover {
  color: #fff;
  background-color: #111;
}
.animationArea {
  width: 970px;
  height: 1000px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 40%;
  transform: rotate(0turn);
  animation: circle 20s linear 0s infinite normal;
}
.dashLine {
  box-sizing: border-box;
  width: 970px;
  height: 970px;
  border: 2px dashed #111;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 0;
}
.circle1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #4b69fd;
  top: 0;
  left: 50%;
  margin-left: -15px;
  border: 2px solid #111;
  border-radius: 100%;
  box-sizing: border-box;
}
.circle2 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff5613;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  border: 2px solid #111;
  border-radius: 100%;
  box-sizing: border-box;
}
@keyframes circle {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(0.5turn);
  }
}
/* 메인컨텐츠 */
.mainContents {
  width: 100%;
  height: 292px;
  background-color: #5f7bff;
  padding: 50px 10.3125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.mainContents > a {
  display: block;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.mainContents > a:hover {
  box-shadow: 0px 7px 20px rgb(39 42 116 / 80%);
}
.card {
  box-sizing: border-box;
  padding: 32px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.card h3 {
  font-size: 22px;
  line-height: 1.2;
}
.card div:last-of-type {
  font-size: 30px;
}
/* 서브페이지 컨텐츠 영역 */
.container {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 10.3125rem;
}
.subTitle {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100px;
  background-color: #f8f8f8;
  text-align: center;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  color: #333;
  margin-bottom: 50px;
}

/* 주유소 현황 검색창 */
.serachArea {
  width: 80%;
  margin: 0 auto;
}
.searchBar {
  width: 50%;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin: 0 auto;
  transition: all 0.3s;
}
.searchBar input {
  width: 100%;
  font-size: 15px;
  border: none;
}
.searchBar button {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: 0.3s;
}
.searchBar:hover {
  border: 1px solid #4b69fd;
}
.searchBar:hover button {
  opacity: 1;
}
/* 주유소 현황 게시물 */
.stationList {
  width: 80%;
  margin: 80px auto;
  height: 100vh;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.stationList thead {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #333;
}
.stationList tbody {
  width: 100%;
  height: fit-content;
}
.stationList tbody tr {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: center;
  line-height: 48px;
}
