@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea,
button {
  outline: none;
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
img {
  display: block;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", "Roboto" sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 1;
  box-sizing: border-box;
}
/* 헤더 */
header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
  padding: 0 10.3125rem;
  background-color: #fff;
}
.con {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  width: 170px;
  height: fit-content;
}
h1 > a {
  display: block;
}
h1 > a > img {
  max-width: 100%;
}
.mobileGnb {
  display: none;
}
#gnb {
  width: 800px;
  min-width: 500px;
}
.mobile_mBtn {
  display: none;
}
#gnb > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}
.searchAll {
  width: 300px;
  box-sizing: border-box;
  padding: 4px 16px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  transition: border 0.3s;
}
.searchAll > .searchBtn {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.searchBtn > img {
  max-width: 100%;
}
.searchAll > input {
  border: none;
  width: 100%;
}
.searchAll:hover {
  border: 1px solid #3d5ce9;
}
.searchAll:hover .searchBtn {
  opacity: 1;
}
/* 메인비주얼 */
.mainVisual {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  padding: 0 10.3125rem;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visualImg {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.visualImg > img {
  width: fit-content;
  max-width: 70%;
}
.mainTxt {
  width: fit-content;
  font-family: "Noto Sans KR", sans-serif;
}

.mainTxt > h3 {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 32px;
}
.mainTxt > h3 + div {
  line-height: 1.4;
  font-size: 18px;
  color: #333;
  margin-bottom: 40px;
}
.mainTxt > a {
  display: block;
}
.mainTxt .main_vBtn {
  border: none;
  background-color: #fff;
  width: 300px;
  height: 45px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  color: #111;
  border: 1px solid #111;
  transition: all 0.3s;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}
.mainTxt .main_vBtn:hover {
  color: #fff;
  background-color: #111;
}
.animationArea {
  width: 970px;
  height: 1000px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 40%;
  transform: rotate(0turn);
  animation: circle 20s linear 0s infinite normal;
}
.dashLine {
  box-sizing: border-box;
  width: 970px;
  height: 970px;
  border: 2px dashed #111;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 0;
}
.circle1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #4b69fd;
  top: 0;
  left: 50%;
  margin-left: -15px;
  border: 2px solid #111;
  border-radius: 100%;
  box-sizing: border-box;
}
.circle2 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff5613;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  border: 2px solid #111;
  border-radius: 100%;
  box-sizing: border-box;
}
@keyframes circle {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(0.5turn);
  }
}
/* 메인컨텐츠 */
.mainContents {
  width: 100%;
  height: 333px;
  background-color: #5f7bff;
  padding: 50px 10.3125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.mainContents > a {
  display: block;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.mainContents > a:hover {
  box-shadow: 0px 7px 20px rgb(39 42 116 / 80%);
}
.card {
  box-sizing: border-box;
  padding: 32px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.card h3 {
  font-size: 22px;
  line-height: 1.2;
}
.card div:last-of-type {
  font-size: 30px;
}
/* 서브페이지 컨텐츠 영역 */
.container {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 10.3125rem;
}
.subTitle {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100px;
  background-color: #f8f8f8;
  text-align: center;
  line-height: 100px;
  border-bottom: 1px solid #eee;
  color: #333;
  margin-bottom: 50px;
}

/* 주유소 현황 검색창 */
.serachArea {
  width: 80%;
  margin: 0 auto;
}
.searchBar {
  width: 50%;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin: 0 auto;
  transition: all 0.3s;
}
.searchBar input {
  width: 100%;
  font-size: 15px;
  border: none;
}
.searchBar button {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: 0.3s;
}
.searchBar:hover {
  border: 1px solid #4b69fd;
}
.searchBar:hover button {
  opacity: 1;
}
/* 주유소 현황 게시물 */
.message {
  display: none;
  width: 80%;
  margin: 0 auto;
}
.message + div {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}
.stationList {
  width: 100%;
  margin-top: 80px;

  overflow-y: auto;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.stationList thead {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #333;
}
.stationList tbody {
  width: 100%;
  height: fit-content;
}
.stationList tbody tr {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: center;
  line-height: 48px;
}

/* 교통 차트 */
.tabBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.tabBox > div {
  width: 50%;
  height: 100%;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
}
.active {
  background-color: #fff;
  font-weight: 700;
}
.inactive {
  background-color: #eee;
  color: #ccc;
}
.chartBox {
  width: 100%;
  height: fit-content;
  border: 1px solid #ddd;
  border-top: none;
  box-sizing: border-box;
  padding: 80px 40px;
  margin-bottom: 100px;
}
.dateBox {
  width: 100%;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-bottom: 80px;
  display: flex;
  box-sizing: border-box;
}
.dateBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 25%;
  border-right: 1px solid #ddd;
}
.dateBox > div:last-child {
  border-right: none;
}
.dateBox > div > h4 {
  color: #333;
}
.dateBox span {
  line-height: 1;
  font-weight: 700;
  color: #3d5ce9;
}
.icon {
  font-size: 20px;
}
.carDirBtn {
  width: 50%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.carDirBtn > div {
  text-align: center;
  padding: 12px 0;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.carDirBtn2 {
  width: 50%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.carDirBtn2 > div {
  text-align: center;
  padding: 12px 0;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.active1 {
  border: 1px solid rgb(61, 92, 233);
  background-color: rgba(61, 92, 233, 0.2);
  color: #3d5ce9;
  font-weight: 500;
}
.inactive1 {
  border: 1px solid rgb(209, 209, 209);
  background-color: rgba(209, 209, 209, 0.2);
  color: #bbb;
}
.chartArea {
  width: 100%;
  position: relative;
  height: fit-content;
}
.chartArea > h3 {
  margin-bottom: 40px;
  text-align: center;
}
.chartArea > canvas {
  width: 100%;
  height: auto;
}

/* 반응형 */

/* PC */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    padding: 0 6vw;
  }
  #gnb {
    width: fit-content;
  }
  .mainVisual {
    padding: 0 6vw;
  }
  .visualImg > img {
    max-width: 100%;
    padding-top: 3vh;
  }
  .searchAll {
    width: 170px;
  }
  .mainContents {
    padding: 50px 6vw;
    height: fit-content;
  }
  /* 영업점 찾기 */
  .container {
    padding: 0 6vw;
    margin-bottom: 50px;
  }
  /* 주유소 현황 */
  .stationList {
    width: 100%;
  }
  /* 실시간 교통 */
  .carDirBtn,
  .carDirBtn2 {
    width: 85%;
  }
  .dateBox > div {
    flex-direction: column;
    gap: 20px;
  }
}
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0 6vw;
  }
  h1 {
    width: 140px;
  }
  #gnb {
    width: fit-content;
    min-width: auto;
  }
  #gnb > ul {
    gap: 20px;
  }
  .searchAll {
    width: 150px;
  }
  .mainVisual {
    padding: 0 6vw;
  }
  .mainTxt {
    width: 40%;
  }
  .mainTxt .main_vBtn {
    width: 80%;
  }
  .mainContents {
    padding: 50px 6vw;
    height: fit-content;
  }
  .visualImg > img {
    max-width: 150%;
  }
  /* 영업점 찾기 */
  .container {
    padding: 0 6vw;
    margin-bottom: 50px;
  }
  /* 주유소 현황 */
  .stationList {
    width: 100%;
  }
  /* 실시간 교통 */

  .carDirBtn,
  .carDirBtn2 {
    width: 85%;
  }
  .dateBox {
    flex-wrap: wrap;
  }
  .dateBox > div {
    width: 50%;
    flex-direction: column;
    gap: 20px;
  }
  .dateBox > div:nth-child(even) {
    border-right: none;
  }
  .dateBox > div:nth-child(1) {
    padding-bottom: 20px;
  }
  .dateBox > div:nth-child(2) {
    padding-bottom: 20px;
  }
  .dateBox > div:nth-child(3) {
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
  .dateBox > div:nth-child(4) {
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
  .carDirBtn {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
/* 모바일 */
@media screen and (min-width: 562px) and (max-width: 767px) {
  header {
    padding: 0 6vw;
  }
  h1 {
    width: 120px;
  }
  .mobileGnb {
    width: 0;
    transition: width 0.3s;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    gap: 20px;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    top: 0;
    right: 0;
    height: 100vh;
  }
  #m_gnb {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    border-radius: 0 0 0 40px;
  }
  .close {
    margin-top: 16px;
    width: 55px;
    height: 48px;
    background-color: #111;
    font-size: 31px;
    color: #fff;
    line-height: 48px;
    text-align: center;
  }
  .mobile_mBtn {
    text-align: center;
    line-height: 48px;
    padding: 0 14px;
    display: block;
    font-size: 31px;
    background-color: #3d5ce9;
    color: #111;
    transition: all 0.3s;
    cursor: pointer;
  }
  .mobile_mBtn:hover {
    background-color: #111;
    color: #fff;
  }
  #m_gnb > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
  }
  #m_gnb > ul > li {
    font-size: 25px;
    padding-bottom: 24px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
  }
  #gnb {
    display: none;
  }
  .searchAll {
    display: none;
  }
  .mainVisual {
    padding: 0 6vw;
    justify-content: center;
  }
  .mainTxt {
    text-align: center;
    width: 72%;
    z-index: 5;
  }
  .mainTxt > a {
    width: 100%;
    margin: 0 auto;
  }
  .mainTxt .main_vBtn {
    width: 100%;
  }
  .mainContents {
    padding: 50px 6vw;
    height: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }
  .animationArea {
    opacity: 0.3;
  }
  .visualImg {
    display: none;
  }
  /* 영업점 찾기 */
  .container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 6vw;
    margin-bottom: 50px;
  }
  /* 주유소 현황 */
  .message + div {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  .stationList {
    margin-top: 20px;
    overflow-x: scroll;
    width: 1000px;
  }
  .message {
    width: 100%;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #3d5ce9;
    display: block;
  }
  .searchBar {
    width: 100%;
  }
  /* 실시간 교통 */
  .carDirBtn,
  .carDirBtn2 {
    width: 85%;
  }
  .dateBox {
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
  }
  .dateBox > div {
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
  }
  .dateBox > div {
    border: none;
    border-top: 1px solid #eee;
  }
  .dateBox > div:first-child {
    border: none;
    padding-top: 0;
  }
  .chartBox {
    margin-bottom: 0;
  }
  .chartArea > h3 {
    padding: 0 58px;
    line-height: 1.8rem;
  }
  .carDirBtn {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .carDirBtn2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .chartBox {
    padding: 50px 0;
  }
}
